 
<div class=" xl:w-[100px] xl:h-[100px] lg:w-[80px] lg:h-[80px] sm:w-[100px] sm:h-[100px] w-[50px] h-[50px]"> 
  <img class=" thumbnail  xl:w-[100px] xl:h-[100px] lg:w-[80px] lg:h-[80px]  sm:w-[100px] sm:h-[100px] w-[50px] h-[50px]" src="{{media | img_url:'large'}}" alt="media_product" /> 
</div>