<!-- /templates/customers/login.liquid -->
<div x-data = "{ loginForm: true , pwRecoverForm: false, additionalForm1: false, additionalForm2: false}">
	<div x-show="loginForm">
		{% form 'customer_login' %}


			<div class="flex flex-col items-center  sm:py-10 gap-16 p-1.25rem w-full sm:py-2.5rem sm:px-0  sm:w-[20%] md:w-[40%] lg:-w[80%] h-full sm:mx-auto">
			  <!-- class="class="flex flex-col items-center py-10 gap-16 w-full h-full mx-auto" -->
			  <div class="flex  justify-between">
				<button class="login-header-text ">
				  <h2>Login</h2>
				</button>
				<a href="{{ routes.account_register_url }}" class="create-header-acc-text  ">Create account</a>
			  </div>
			  <div class="flex flex-col items-center gap-10 flex-none order-0 bg-gray-100 p-5 w-full">
				<div class="login-input-container">
				  <label for="customer_email" class="login-input-label">Email Address</label>
				  <input
					type="email"
					name="customer[email]"
					class="login-input-field"
					placeholder="Email:">
				</div>
				<div class="login-input-container">
				  <label for="customer_password" class="login-input-label">Password</label>
				  <input
					type="password"
					name="customer[password]"
					class="login-input-field"
					placeholder="Passwords:">
		
				  {% if form.errors %}
					<p class="invalid-password-text">Invalid Email/Password</p>
				  {% endif %}
		
				  <a
					class="login-forgot-password-text"
					href="#"
					x-on:click="loginForm = false; pwRecoverForm = true">Forgot Password</a>
		
		
		
				  <div x-show="pwRecordForm">
					<p>Test</p>
				  </div>
				</div>
				<div class="login-btn-container">
				  <button class="login-btn" type="submit">
					<div class="login-btn-text">Login</div>
				  </button>
				</div>
			  </div>
			</div>
		  {% endform %}


	</div>




  <div x-show="pwRecoverForm">
  {% form 'recover_customer_password' %}


    <div class="flex flex-col items-center  sm:py-10 gap-16 p-1.25rem w-full sm:py-2.5rem sm:px-0  sm:w-[20%] md:w-[40%] lg:-w[80%] h-full sm:mx-auto">
      <!-- class="class="flex flex-col items-center py-10 gap-16 w-full h-full mx-auto" -->
      <div class="flex  justify-between">
        <button class="login-header-text ">
          <h2>Login</h2>
        </button>
        <a href="{{ routes.account_register_url }}" class="create-header-acc-text  ">Create account</a>
      </div>
      <div class="flex flex-col items-center gap-10 flex-none order-0 bg-gray-100 p-5 w-full">
        <div class="login-input-container">
          <label for="customer_email" class="login-input-label">Email Address</label>
          <input
            type="email"
            name="customer[email]"
            class="login-input-field"
            placeholder="Email:">
			<a
				class="login-forgot-password-text"
				href="#"
				x-on:click="loginForm = true; pwRecoverForm = false">Back to login page</a>
        </div>
        <div class="login-btn-container">
          <button class="login-btn" id="getcodeBtn" type="submit">
            <div class="login-btn-text">Get code</div>
          </button>
        </div>
      </div>
    </div>
  	{% endform %}
	</div>

</div>




<!-- /templates/customers/login.liquid -->




<!-- <h2>Forgot Password</h2>
{% form 'recover_customer_password' %}
{{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="email">

<input type="submit" value="Submit">
{% endform %} -->