<!-- /templates/customers/register.liquid -->

{% form 'create_customer' %}
  <div id="register-container">
    <div class="register-header">
      <a href="{{ routes.account_login_url }}" class="register-header-text">Login</a>
      <div class="register-header-acc-text">
        <h2>Create account</h2>
      </div>
    </div>

    <div class="register-body-container">
      <div class="register-body">
        <div class="first-name-container">
          <label for="">First Name*</label>
          <input
            type="text"
            name="first-name-textbox"
            id=""
            placeholder="Firstname:"
          >
        </div>

        <div class="first-name-container">
          <label for="">Last Name*</label>
          <input
            type="text"
            name="first-name-textbox"
            id=""
            placeholder="Lastname:"
          >
        </div>

        <div class="first-name-container">
          <label for="">Date of Birth*</label>
          <input
            type="text"
            name="customer[note][Birthday]"
            placeholder="Pick a date"
            id="date"
            onfocus="(this.type='date')"
            onblur="if(!this.value) this.type ='text'"
          >
        </div>
        <p class="register-policy-text-inform">
          For further information about how we use your personal information, please see our Privacy Policy
        </p>

        <div class="first-name-container">
          <label for="">Email Address*</label>
          <input
            type="email"
            name="customer[email]"
            id=""
            placeholder="Email:"
          >

          {% for error in form.errors %}
            {% if error == 'email' %}
              <p class="invalid-password-text">Email can't be blank.</p>
            {% endif %}
          {% endfor %}
        </div>

        <div class="first-name-container">
          <label for="password">Password *</label>
          <input
            type="password"
            name="customer[password]"
            id="password"
            placeholder="Password:"
          >

          {% for error in form.errors %}
            {% if error == 'password' %}
              <p class="invalid-password-text">Password can't be blank.</p>
            {% endif %}
          {% endfor %}
        </div>

        <div class="first-name-container">
          <label for="">Confirm Password *</label>
          <input
            type="password"
            name="customer[password_confirmation]"
            id="confimation-password"
            placeholder="Comfirm password:"
          >
          <p class="invalid-password-text" id="confirm_error" style="visibility: hidden">
            Confirm password doesn't match
          </p>
        </div>
        <script>
          $(function(){ $('#create_customer').submit(function(e) {
            if ($('input[name="customer[password]"]').val() != $('input[name="customer[password_confirmation]"]').val()) {
                alert('Passwords do not match.'); 
                return false; }
            }); 
          });
        </script>
        
        <div class="register-receive-infor-checkbox">
          <input
            type="checkbox"
            name=""
            id="policy_agreement"
          >
          <p>I would also like to receive marketing information about Norden Jewels’ products or services.</p>
        </div>

        <div class="regiter-send-infor-noti">
          <p>
            We may send you this information using email, text, telephone or post. We may also use your information to
            deliver personalized messages or advertising on social media or other digital platforms. You can ask us to
            stop marketing at any time.
          </p>
        </div>

        <div class="register-btn-container">
          <button class="login-btn">
            <div class="login-btn-text">Register</div>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endform %}
