<div class="relative bg-white flex" x-data="{mobileMenuOpen:True}">
  <div class="mx-auto w-full">
    <div class="border" style="width: 900px; margin-left: 186px"></div>
    <div class="flex flex-row justify-between items-start gap-96" style="left: 264px">
      <div class="flex flex-col items-center" style="width: 200px; height: 148px">
        <p class="font-family-montserrat font-semibold">About</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "label": "Title",
      "default": "Menu",
      "info": "This is for the mobile menu window"
    }
  ]
}
{% endschema %}
