<div class="relative bg-white flex" x-data="{mobileMenuOpen:True}">
  <div class="mx-auto w-full">
    <div class="border" style="width: 900px; left: 186px"></div>
    <div class="flex flex-row justify-between items-start gap-96" style="width: 912px">
      <div></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "label": "Title",
      "default": "Menu",
      "info": "This is for the mobile menu window"
    }
  ]
}
{% endschema %}
