<div class="relative bg-white flex" x-data="{mobileMenuOpen:True}">
  <div>
    <h1>Test</h1>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "label": "Title",
      "default": "Menu",
      "info": "This is for the mobile menu window"
    }
  ]
}
{% endschema %}
