<div class="max-w1 mx-auto">
    <div class="relative">
        <img class="w-full h-full img-homepage"
            src="{{collections.first.products.first.featured_image | img_url: 'medium'}}" />
        <div class="flex flex-col absolute container-author">
            <div class="author font-beaurivega">Norden Jewels</div>
            <div class="note1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s</div>
            <div class="note2 ">Lorem Ipsum is simply dummy
                text of the printing.</div>
        </div>
    </div>
</div>


{% schema %}
{
"name": "Banner",
"settings": [
{
"type": "text",
"id": "mobile_banner",
"label": "Title",
"default": "Menu",
"info": "This is for the mobile menu window"
}
]
}
{% endschema %}