<form action="/cart/add" method="post">
	<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
	<button type="submit" class="add-to-cart-button">Add to Cart</button>
	<h2>aaa</h2>
</form>