<div class="flex-col justify-between items-center gap-10 hidden mt-20">
	<div class="border mx-auto w-[90%] md:w-[88%] hidden lg:flex" style="color: #082639"></div>
	<h1 class="font-montserrat not-italic font-semibold text-2xl mt-5" style="color: #344054;">
		Other products you might be interested
	</h1>
	<div class="flex flex-row justify-between items-start gap-20">
		<div class="grid grid-cols-1 md:grid-cols-3 gap">
		</div>
	</div>
</div>