.font-noto {
    font-family: 'Noto Serif JP';
}

.font-be-pro {
    font-family: 'Be VietNam Pro';
}

.font-worksanf {
    font-family: 'Work Sans';
}

.font-montserrat {
    font-family: 'Montserrat';
}

.transform-rotate {
    transform: rotate(-90deg);
}

.address-scroll-design:  {
  
}

.address-scroll-design::-webkit-scrollbar {
  width: 10px;
  border-radius:8px;
}

/* Track */
.address-scroll-design::-webkit-scrollbar-track {
  background: #f1f1f1;
    border-radius:8px;
}

/* Handle */
.address-scroll-design::-webkit-scrollbar-thumb {
  background: #888;
    border-radius:8px;
}

/* Handle on hover */
.address-scroll-design::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media (max-width: 1024px) {
.main__logo svg {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	word-wrap: normal;
}