.font-noto {
    font-family: 'Noto Serif JP';
}

.font-be-pro {
    font-family: 'Be VietNam Pro';
}

.font-worksanf {
    font-family: 'Work Sans';
}

.font-montserrat {
    font-family: 'Montserrat';
}

.transform-rotate {
    transform: rotate(-90deg);
}

@media (max-width: 1024px) {
.main__logo svg {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	word-wrap: normal;
}